.back {
    -fx-background-color: #081F29;
    -fx-color: #C26A0C;
    -fx-text-fill: #C26A0C;
    -fx-font-size: 18;
    -fx-text-fill: white;
}

.lblLanguage {
    -fx-font-size: 25;
    -fx-font-family: "upheaval";
    
}

.label {
    
    -fx-text-fill: white;
}

@font-face {
    font-family: 'dwarffat';
    src: url('dwarffat.otf');
}


.button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 1;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-font-family: "dwarffat.otf";
    
}