.back {
/*    fx-background-color: #081F29;*/
    -fx-font-family: "Upheaval TT -BRK-";  
    

    -fx-text-fill: white;
     
}

.background {
        -fx-background-color: #081F29;
    -fx-font-family: "Upheaval TT -BRK-";  
    

    -fx-text-fill: white;
     
}

.lblLanguage {
    -fx-font-size: 25;
    
}

#big {
    -fx-font-size: 45;
    
}

#error {
    -fx-font-size: 21;
    -fx-text-fill: red;
    
}

#label {
    
    -fx-text-fill: white;
    -fx-font-family: "Upheaval TT -BRK-";
    -fx-font-size: 30;
-fx-margin: -50px;
}

.label {
    
    -fx-text-fill: white;
    -fx-font-family: "Upheaval TT -BRK-";
    -fx-font-size: 30;
    -fx-margin: -50px;
}



#buttons {
    
    
    -fx-font-family: "Upheaval TT -BRK-";   
    -fx-font-size: 25;
    -fx-text-fill: black;
    
    -fx-background-color: #FF9800;
    -fx-background-radius: 1;
    -fx-background-insets: 0,1,2,3,0;
    -fx-border-color: #424242;
    -fx-border-width: 3px;
    -fx-padding: 5 5 5 5;
    -fx-min-width: 400px;
    
}

#buttonL {
    
    
    -fx-font-family: "Upheaval TT -BRK-";   
    -fx-font-size: 25;
    -fx-text-fill: black;
    
    -fx-background-color: #FF9800;
    -fx-background-radius: 1;
    -fx-background-insets: 0,1,2,3,0;
    -fx-border-color: #424242;
    -fx-border-width: 3px;
    -fx-padding: 5 5 5 5;
    -fx-min-width: 215px;

    
}

#buttonR {
    
    
    -fx-font-family: "Upheaval TT -BRK-";   
    -fx-font-size: 25;
    -fx-text-fill: black;
    
    -fx-background-color: #FF9800;
    -fx-background-radius: 1;
    -fx-background-insets: 0,1,2,3,0;
    -fx-border-color: #424242;
    -fx-border-width: 3px;
    -fx-padding: 5 5 5 5;
    -fx-min-width: 215px;
    
}

#buttonB {
    
    
   
        -fx-font-family: "Upheaval TT -BRK-";   
    -fx-font-size:20;
    -fx-text-fill: white;
    -fx-background-color: #081F29;
    -fx-background-radius: 1;
    -fx-background-insets: 0,1,2,3,0;
    -fx-border-color: #081F29;
    -fx-border-width: 1px;
    -fx-padding: 5 5 5 5;
    -fx-min-width: 50px;
    
}

#textField {

    -fx-font-family: "Upheaval TT -BRK-";   
    -fx-font-size: 25;
    -fx-border-color: #424242;
    -fx-focus-color: #FF9800;
    -fx-border-width: 3px;
}

#textField:hover {


    -fx-font-size: 25;
    -fx-border-color: #FF9800;
}



#labelbig {
    
    -fx-text-fill: white;
    -fx-font-family: "Upheaval TT -BRK-";
    -fx-font-size: 27;

}

#labelsmall {
    
    -fx-text-fill: white;
    -fx-font-family: "Upheaval TT -BRK-";
    -fx-font-size: 23;

}


#labelB {
    
    -fx-text-fill: white;
    -fx-font-family: "Upheaval TT -BRK-";
    -fx-font-size: 35;

}

.list-cell {
    -fx-background-color: #081F29;
    -fx-alignment: center;
}

#list1 {
    
    -fx-text-fill: white;
    -fx-font-family: "Upheaval TT -BRK-";
    -fx-font-size:20;
    -fx-background-color: #081F29;
}

#list2 {
    
    -fx-text-fill: white;
    -fx-font-family: "Upheaval TT -BRK-";
    -fx-font-size:20;
    -fx-background-color: #081F29;
}

#list1 .list-cell {
    -fx-alignment: center-left;
    -fx-text-fill: grey;
}

#list2 .list-cell {
    -fx-alignment: center-right;
    
    -fx-text-fill: grey;
    
}

#list1 .list-cell:hover {

-fx-text-fill: white;
}

#list2 .list-cell:hover {

-fx-text-fill: white;
}

#list1 .list-cell:selected {
    
    

    -fx-text-fill: greenyellow;
}

#list2 .list-cell:selected {
    
    

    -fx-text-fill: greenyellow;
}




.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

